@model IEnumerable<ScaleModelsStore.Models.Product>

@{
    ViewBag.Title="Products List";
}

<p>
    Select from @Model.Count() products:
</p>
<div>
    <h3>Products List</h3>
    <ul>
        @foreach(var product in Model)
        {
            <li>
                <a href="@Url.Action("Product",new { id=product.ProductId})">
                    <img alt="@product.ProductName" src="@string.Format("{0}placeholder.gif",product.ImagePath)"/>
                    <span>@product.ProductName</span>
                </a>
            </li>
        }
    </ul>
</div>

