@model ScaleModelsStore.Models.Product

@{
    ViewBag.Title = "Product details";
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/products-availability.js" type="text/javascript"></script>


<h2>@Model.ProductName</h2>

<div class="product-img float-left">
    <img alt="@Model.ProductName" src="@string.Format("{0}placeholder.gif",Model.ImagePath)" />
</div>
<div class="product-details float-left">
    <div>
        <p>
            <button class="btn btn-outline-primary" id="to-cart" data-id=@Model.QuantityInStock onclick="location.href='@Url.Action("AddToCart","ShoppingCart",new { id=Model.ProductId})'"></button>

            <button class="btn btn-outline-primary" id="to-wishlist" @*onclick="location.href='@Url.Action()'"*@>To Wish list</button>
        </p>
        <p>
            <h5>Category:</h5>
            <span>@Model.Category.Name</span>
        </p>
        <p>
            <h5>Manufacturer:</h5>
            <span>@Model.Manufacturer.Name</span>
        </p>
        <p>
            <h6>Maximum items per buyer:</h6>
            <span class="alert-qntt">@Model.MaxQuantityAvailable</span>
        </p>
        <p>
            <h5>Scale:</h5>
            <span>@Model.Scale</span>
        </p>
        <p>
            <h5>Material:</h5>
            <span>@Model.Material</span>
        </p>
        <p>
            <h5>Price:</h5>
            <span>@string.Format("{0:F}", Model.Price)</span>
        </p>
    </div>
</div>
<div class="clear-float">
    <hr />
    <p>
        <h5>Description</h5>
        <span>@Model.Description</span>
    </p>
</div>
