@model ScaleModelsStore.Models.Product

@{
    ViewBag.Title = "Product details";
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/products-availability.js" type="text/javascript"></script>


<h2>@Model.ProductName</h2>

<p>
    <img alt="@Model.ProductName" src="@string.Format("{0}placeholder.gif",Model.ImagePath)" />
</p>
<div>
    <p>
        <h4>Category:</h4>
        @Model.Category.Name
    </p>
    <p>
        <h4>Manufacturer:</h4>
        @Model.Manufacturer.Name
    </p>
    <p>
        <h4>Maximum items per buyer:</h4>
        @Model.MaxQuantityAvailable
    </p>
    <p>
        <h4>Scale:</h4>
        @Model.Scale
    </p>
    <p>
        <h4>Material:</h4>
        @Model.Material
    </p>
    <p>
        <h4>Description</h4>
        @Model.Description
    </p>
    <p>
        <h4>Price:</h4>
        @string.Format("{0:F}", Model.Price)
    </p>
    <p>
        <button class="sms-button" id="to-cart" data-id=@Model.QuantityInStock onclick="location.href='@Url.Action("AddToCart","ShoppingCart",new { id=Model.ProductId})'"></button>
        <button class="sms-button" id="to-wishlist" @*onclick="location.href='@Url.Action()'"*@>To Wish list</button>
    </p>


</div>
